.loginPage {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: pink;
    box-sizing: border-box;
}
form{
    display:flex;
    flex-direction:column;
    gap: 20px;
}
.form-control{
    width: 400px;
}
.form-control > label{
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}
.form-control > input[type="text"], input[type="password"]{
    border: none;
    padding: 20px 0 20px 20px;
    width: 100%;
    box-sizing: border-box;
}
.form-control > label:last-child{
    display: inline;
}
button{
    width: 100%;
    outline: none;
    background-color: lightseagreen;
    border: none;
    color: white;
    height: 50px;
    cursor: pointer;
}
